.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  background: #dddddd;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.logout-button {
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing from Logout button */
}

.view-profile-button:hover {
  background-color: #0056b3;
}

.view-profile-button:active {
  background-color: #003f7f;
}

.cde-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cde-logo {
  font-size: 30px;
  display: flex;
  gap: 6px;
  font-weight: 600;
}

.cde-letter {
  padding: 2px 6px;
  border-radius: 6px;
}

.cde-c {
  background-color: #797ff1;
  color: #001f2f;
}

.cde-d {
  background-color: #f869e0;
  color: #2f001f;
}

.cde-e {
  background-color: #31c553;
  color: #1a2f00;
}

#searchBar {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 300px;
}
